<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Article</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><h2>Liste des articles</h2></a>
    </li>
  </ul>

  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Catégorie</th>
      <th>Libellé</th>
      <th>Prix</th>
      <th>Qte stock</th>
      <th>Qte Seuil</th>
      <th>Date Creation</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- thymeleaf a se documenter-->
    <tr th:each="article:${listeArticle}">
      <td th:text="${article.id}"></td>
      <td th:text="${article.categorie.designation}"></td>
      <td th:text="${article.libelle}"></td>
      <td th:text="${article.prix}"></td>
      <td th:text="${article.qteStock}"></td>
      <td th:text="${article.qteSeuil}"></td>
      <td th:text="${article.dateCreation}"></td>
      <td>
        <a class="btn btn-danger" th:href="@{/article/delete/{id}(id=${article.id})}" role="button">Delete</a>
        <a class="btn btn-primary" th:href="@{/article/edit/{id}(id=${article.id})}"role="button">Editer</a>
      </td>
    </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
<script src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>