<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><h2>Formulaire de mise à jour d'un approvisionnement</h2></a>
        </li>
    </ul>

    <form class="row g-3" th:action="@{/vente/update}" th:object="${Une_vente}" method="post">
        <div class="Form-group">
            <input type="hidden" th:field="*{id}" class="Form-control">
            <input type="hidden" th:field="*{dateVente}" class="Form-control">
            <!--<input type="hidden" th:field="*{qteVente}" class="Form-control">-->
        </div>
        <div class="col-12">
            <label><h3>Vente</h3></label>
            <select class="form-select" id="validationDefault01" th:field="*{articleId}" required>
                <option th:each="vte:${listeVente}"
                        th:value="${vte.id}"
                        th:utext="${vte.libelle}">

                </option>
            </select>
        </div>
        <div class="col-12">
            <label for="validationDefault02" class="form-label">Qte vente</label>
            <input type="number" th:field="*{qteVente}" class="form-control" id="validationDefault02" >
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>